<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="MarsaAlloaloah.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="MarsaKanzAbhar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <connectionStrings>
  <add name="MarsaKanzConn" connectionString="Data Source=LAPTOP-UKSQ4LM8;Initial Catalog=Lastmarsa;User ID=IE; Password=@Dbadmin"/>
  
	</connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/> 
    <!-- <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>-->  
    </startup>
    <userSettings>
        <MarsaAlloaloah.Properties.Settings>
            <setting name="Printername" serializeAs="String">
                <value>Microsoft Print to PDF</value>
            </setting>
            <setting name="Connectionstring" serializeAs="String">
                <value>Data Source=LAPTOP-UKSQ4LM8;Initial Catalog=Lastmarsa;User ID=IE; Password=@Dbadmin</value>
            </setting>
        </MarsaAlloaloah.Properties.Settings>
        <MarsaKanzAbhar.Properties.Settings>
            <setting name="Printername" serializeAs="String">
                <value>Microsoft Print to PDF</value>
            </setting>
            <setting name="Connectionstring" serializeAs="String">
                <value>Data Source=LAPTOP-UKSQ4LM8;Initial Catalog=Lastmarsa;User ID=IE; Password=@Dbadmin</value>
            </setting>
        </MarsaKanzAbhar.Properties.Settings>
    </userSettings>
</configuration>
